@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');
:root {
    --Blue: hsl(223, 87%, 63%);
    --Pale-Blue: hsl(223, 100%, 88%);
    --Light-Red: hsl(354, 100%, 66%);
    --Gray: hsl(0, 0%, 59%);
    --Very-Dark-Blue: hsl(209, 33%, 12%);
}

body {
    font-family: 'Libre Franklin', sans-serif;
}

main {
    text-align: center;
    padding: 35px;
}
main .logo {
    height: 35px;
    margin-bottom: 30px;
}
main > h1 {
    font-size: 32px;
    font-weight: 300;
    color: var(--Gray);
}
main > h1 span{
    font-weight: 700;
    color: black;
}
main > h2 {
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 30px;
}
main .emailsec {
    margin-bottom: 45px;
}
main .emailsec #emailinput{
    width: 34%;
    padding: 15px 35px;
    margin-right: 22px;
    border-radius: 25px;
    border: 2px solid var(--Gray);
    font-family: inherit;
    outline: none;
    
}

main .emailsec button{
    padding: 15px 40px;
    border-radius: 25px;
    border: none;
    background-color: var(--Blue);
    color: white;
    font-family: inherit;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
}
main .emailsec button:hover {
    background-color: var(--Pale-Blue);
    
}
main .dashboard {
    width: 52%;
    margin-bottom: 15px;
}

main .socialmedia {
    width: fit-content;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-bottom: 50px;
}
main .socialmedia a {
    text-decoration: none;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-right: 10px;
     width: 42px ;
     border: 1px solid var(--Blue);
     color:var(--Blue) ;
     border-radius: 50%;
     transition: color 0.3s ease-in-out;
}
main .socialmedia a i {
    padding: 12px;
    
}
main .socialmedia a:hover {
    background-color: var(--Blue);
    color: white;
}
main .socialmedia a:first-child {
    /* padding: 10px 15px; */
}
main > p {
    font-size: 15px;
    color: var(--Gray);
}

@media (max-width:767px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main .logo {
        height: 23px;
    width: 86px;
    margin-bottom: 20px;
    
    }
    main > h1 {
        font-size: 22px;
    }
    main > h2 {
        font-size: 16px;
    }
    main .emailsec {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    main .emailsec #emailinput {
        width: 80%;
    margin-bottom: 10px;
    margin-right: 0;
    padding: 12px 22px;
    }
    main .emailsec button {
        width: 98%;
    }
    main .dashboard {
        width: 100%;
    }

}